<tr>
  <td><%= communication_row.name %></td>
  <td><%= communication_row.user.email %></td>
  <td><%= communication_row.template.name %></td>
  <td><%= communication_row.status_string %></td>
  <td><%= render partial: 'shared/tags', locals: {tags: communication_row.tags } %></td>
  <td><%= glyphicon_link_to communication_row %></td>
</tr>
