<tr>
  <td><%= profile_row.full_name %></td>
  <td><%= profile_row.email %></td>
  <td><%= profile_row.location %></td>
  <td><% if profile_row.skills.nil? %>
        <%= profile_row.title %>
      <% else %>
        <%= render partial: 'shared/skills', locals: {skills: profile_row.skills} %>
      <% end %>
  </td>
  <td><%= glyphicon_link volunteer_path(profile_row) %></td>
</tr>

